<div class="buttons">
  <button class="button is-primary" phx-click="view_dashboard">View dashboard</button>
  <button class="button is-primary" phx-click="show_modal" phx-value-modal="create_column">Add column</button>
</div>

<%= render "modal_create_column.html", assigns %>
