<div class="buttons">
  <button class="button is-primary" phx-click="view_board">View board</button>
  <button class="button is-primary" phx-click="show_modal" phx-value-modal="create_board">Create a new board</button>
</div>

<%= render "modal_create_board.html", assigns %>
